.logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo__first-part {
    color: var(--fourth-blue-color);
}

.logo__second-part {
    color: var(--third-header-color);
}

.logo-footer {
    margin-bottom: 20px;
}

.logo-footer__first-part {
    color: var(--fourth-blue-color);
}

.logo-footer__second-part {
    color: var(--second-white-color);
}