.peculiarities {
  width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  }

  .peculiarities__list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 4);
    gap: 30px;

    @media screen and (min-width: $tablet) {
    flex-basis: calc(100% / 2);
    }
   
  }

  .peculiarities__list-item {
    width: 450px;

    @media screen and (min-width: $tablet) {
    width: 354px;
      }

    @media screen and (min-width: $desktop) {
      width: 270px;
    }
  }

  .peculiarities__icon-div {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 450px;
    height: 120px;

    background-color: var(--first-background-color);

    @media screen and (min-width: $tablet) {
      width: 354px;
        }

    @media screen and (min-width: $desktop) {
    width: 270px;
    }
  }

  .peculiarities__icon {
    display: block;
    width: 65px;
    height: 70px;

    @media screen and (min-width: $desktop) {
      width: 70px;
      }
  }

.peculiarities__title {
    margin-top: 30px;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase; 
    color: var(--third-header-color);

    @media screen and (max-width: 1199px) {
      text-align: center;
      
    }
}

.peculiarities__text {
    margin-top: 10px;

    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--primary-color);

}