:root {
    --first-background-color:#F5F4FA;
    --second-background-color:#2F303A;
    --primary-color:#757575;
    --second-white-color:#FFFFFF;
    --third-header-color: #212121;
    --fourth-blue-color: #2196F3;
    --time-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: "Roboto", sans-serif;
}
